.about {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: row;
  background-color: #0a2850;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 0;
  position: relative;
}
.about__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  margin-top: 100px;
  padding-left: 80px;
  z-index: 1;
}
.about__content {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin-left: 120px;
  padding: 119px 80px 173px 0;
}
.about__paragraph {
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 660px;
}
.about__paragraph:last-child {
  margin-bottom: 0;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;

  top: -152px;
  left: -129px;
}
.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
@keyframes pulsate {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
  }
}
