.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;

  max-width: 385px;
  width: 100%;
  padding-bottom: 120px;
  border: 0;
}
.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  padding-top: 32px;
  font-size: 16px;
  line-height: 20px;
  gap: 8px;
  border-radius: 4px;
}
.form__label:first-of-type {
  padding-top: 0;
}
.form__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
  height: 60px;
  color: #838383;
  border: 1px solid #838383;
  box-sizing: border-box;
  border-radius: 4px;
}
.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  padding-left: 0;
}
.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 12px;
}
.form__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 385px;
  border: none;
  opacity: 1;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #fff;
  background-color: #2f80ed;
  border-radius: 4px;
  height: 60px;
}
.form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}
