.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  margin-left: 80px;
  padding-top: 202px;
  max-width: 729px;
}
.header__span-accent {
  width: 100%;
  display: block;
  font-family: "Noto Serif" "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  margin-left: 80px;
  max-width: 638px;
  padding-top: 28px;
  font-family: "Noto Serif" "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  display: flex;
  z-index: 0;
  position: absolute;
  top: 124px;
  right: 5px;
  max-height: 646px;
  max-width: 568px;
}
.header__footer {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px 40px;
  box-sizing: border-box;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
.header__footer-hours {
  padding-left: 80px;
  padding-bottom: 40px;
  margin-top: 100px;
  flex: none;
}
.header__paragraph {
  margin: 0;
}
.header__footer-address {
  padding-right: 80px;
  padding-bottom: 40px;
  margin-top: 150px;
  flex: none;
}
