.menu {
  background-color: #0a2750;
  background-image: url(/images/background_menu.svg);
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu__title {
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 auto;
}
.menu__subtitle {
  text-align: center;
  margin: 0 auto;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  top: 24px;
}
.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  margin-bottom: 100px;
  gap: 100px;
}
