.recipes {
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 215px;
}
.recipes__title {
  color: #000;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  max-width: 580px;
  padding-left: 80px;
  margin-bottom: 24px;
}
.recipes__subtitle {
  font-family: "Noto Serif" "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px;
  max-width: 438px;
  margin-bottom: 80px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 40px;
  margin: 0;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
}
.recipes__video-caption {
  display: flex;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
  width: 100%;
}
.recipes__list-divider {
  border-bottom: 2px;
  flex-grow: 2;
  height: 0;
}
