@import url(/vendor/normalize.css);
@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/logo.css);
@import url(/blocks/nav.css);
@import url(/blocks/menu.css);
@import url(/blocks/recipes.css);
@import url(/blocks/form.css);
@import url(/blocks/reservation.css);
@import url(/blocks/about.css);
@import url(/blocks/card.css);
@import url(/blocks/footer.css);
@keyframes pulsate {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
  }
}
/* .page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

}
.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
}
.logo {
  position: absolute;
  padding-left: 30px;
  padding-bottom: 80px;
  max-width: 125px;
  max-height: 142px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.nav__link {
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
  padding-right: 80px;
  list-style-type: none;
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.nav__link:hover {
  color: #2d80ed;
}
.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  margin-left: 80px;
  padding-top: 202px;
  max-width: 729px;
}
.header__span-accent {
  width: 100%;
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  margin-left: 80px;
  max-width: 638px;
  padding-top: 28px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  display: flex;
  z-index: 0;
  position: absolute;
  top: 124px;
  right: 5px;
  max-height: 646px;
  max-width: 568px;
}
.header__footer {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px 40px;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
.header__footer-hours {
  padding-left: 80px;
  padding-bottom: 40px;
  margin-top: 100px;
  flex: none;
}
.header__paragraph {
  margin: 0;
}
.header__footer-address {
  padding-right: 80px;
  padding-bottom: 40px;
  margin-left: 650px;
  margin-top: 150px;
  flex: none;
}
.menu {
  background-color: #0a2750;
  background-image: url(/images/background_menu.svg);
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu__title {
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 auto;
}
.menu__subtitle {
  text-align: center;
  margin: 0 auto;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  top: 24px;
}
.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  margin-bottom: 100px;
  gap: 100px;
}
.card {
  flex-basis: 500px;
  max-width: 600px;
}
.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  margin: 0 0 32px 0;
  font-size: 20px;
  line-height: 30px;
}
.card__list {
  padding: 0;
}
.card__list-item {
  display: flex;
  font-family: "noto serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  margin: 0 0 16px 0;
}
.card__list-divider {
  border-bottom: 2px solid #fff;
  flex-grow: 2;
  height: 10px;
}
.card li:last-child a:after {
}
.recipes {
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 215px;
}
.recipes__title {
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  max-width: 580px;
  padding-left: 80px;
  margin-bottom: 24px;
}
.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px;
  max-width: 438px;
  margin-bottom: 80px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 40px;
  margin: 0;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
}
.recipes__video-caption {
  display: flex;
  font-family: "Inter";
  font-style: normal;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
  width: 100%;
}
.recipes__list-divider {
  border-bottom: 2px;
  flex-grow: 2;
  height: 0;
}
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.reservation__title {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  text-align: center;
  line-height: 52px;
  padding-top: 100px;
  padding-bottom: 80px;
}
.reservation__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 100%;
  padding-bottom: 120px;
  border: 0;
}
.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  padding-top: 32px;
  border-radius: 4px;
}
.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
  height: 60px;
  color: #838383;
  border-color: #838383;
  box-sizing: border-box;
  border-radius: 4px;
}
.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-left: 0;
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
}
.form__checkbox {
  width: 20px;
  height: 20px;

  border-radius: 12px;
}
.form__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  opacity: 1;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #fff;
  background-color: #2f80ed;
  border-radius: 4px;
  height: 60px;
}
.form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.about {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: row;
  background-color: #2a2750;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 0;
  position: relative;
}
.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  padding-top: 100px;
  padding-left: 80px;
  z-index: 1;
}
.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin-left: 120px;
  padding: 119px 80px 173px 0;
}
.about__paragraph {
  margin-bottom: 20px;
  max-width: 660px;
}
.about__paragraph:last-child {
  margin-bottom: 0;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;

  top: -152px;
  left: -129px;
}
.about__circle_animation_blurred {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;

  top: -152px;
  left: -129px;
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 100px 0 80px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 116px;
  height: 21px;
  padding-left: 80px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  margin-bottom: 16px;
  color: #fff;
}
.footer__list-item:last-child {
  margin-bottom: 0;
}
.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  padding-right: 100px;
}
.footer__social-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  padding-right: 100px;
  padding-bottom: 16px;
  margin: 0;
}
.footer__social-link:hover {
  color: #c1c1c1;
  transition-timing-function: ease-in-out;
} */
